<ion-header>
  <ion-toolbar>
    <ion-title>Create Game</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goBack()">Back</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Date/Time</ion-label>
    <ion-datetime [(ngModel)]="game.dateTime"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Player Name</ion-label>
    <ion-input [(ngModel)]="game.playerName" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-input [(ngModel)]="game.description" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Location</ion-label>
    <ion-input [(ngModel)]="game.location" id="autocomplete" type="text"></ion-input>
  </ion-item>
  <div id="map" style="height: 200px;"></div>
  <ion-item>
    <ion-label>Pre-set</ion-label>
    <ion-input [(ngModel)]="game.preset" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>How many Sets</ion-label>
    <ion-select [(ngModel)]="game.sets">
      <ion-select-option *ngFor="let set of [1, 3, 5]" [value]="set">{{ set }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button expand="full" (click)="startGame()">Start Game</ion-button>
</ion-content>