<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="/assets/imgs/default-image.png" class="responsive-img"></ion-img>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>User Manual</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Welcome to IADtennis! This app allows you to record and analyze your tennis games.</p>
      <p>To get started, click on "Start New Game Record" below and follow the instructions.</p>
    </ion-card-content>
  </ion-card>
  <ion-button expand="full" (click)="startGameSetup()">Start New Game Record</ion-button>
</ion-content>